# dependencies
/node_modules




#testing
/myapp/coverage




#misc
config/config.env
/myapp/.DS_Store
/myapp/.env.local
/myapp/.env.development.local
/myapp/.env.test.local
/myapp/.env.production.local